* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #D0E5FF;
    color: #000000;
    margin: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #004d40;
    margin-bottom: 10px;
}

section ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #004d40;
    color: white;
}