@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, sans-serif; */
  background-color: #F5F5DC; /* tom clarinho */
}

header {
  background-color: #FFAD91;
  padding: 13px;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.8rem;
  color: #5b4200;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  transition: font-size 0.3s ease-in-out;
}

nav a:hover {
  color: #9e7402;
  font-size: 2.3rem;
}

/* Estilo específico para páginas de conteúdo biológico */
.conteudo-equino {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.imagem-bio {
  max-width: 700px;
  height: auto;
}

.texto-bio h1 {
  font-size: 5rem;
  color: #ff4500;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  background-color: #ffeccc;
  border-radius: 20px;
  padding: 25px;
  max-width: 900px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.box p {
  margin-bottom: 15px;
  text-align: justify;
}

.box-secundary {
  margin-top: 100px;
  background-color: #ffeccc;
  border-radius: 20px;
  padding: 25px;
  max-width: 1750px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.box-secundary p {
  margin-bottom: 15px;
  text-align: justify;
}

@media (max-width: 768px) {
  .conteudo-equino {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }

  .imagem-bio {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .texto-bio h1 {
    font-size: 3rem;
    text-align: center;
  }

  .box, .box-secundary {
    padding: 20px;
    font-size: 1.2rem;
    max-width: 100%;
  }

  nav a {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .texto-bio h1 {
    font-size: 2.2rem;
  }

  .box, .box-secundary {
    font-size: 1rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
